.p {
    text-align: justify;
}

.profileImg {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 1px solid var(--purple);
}

@media (min-width: 768px) {
    .profileImg {
        width: 15em;
        height: 15em;
    }
}