.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start], 1fr);
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.wrapper > * {
  grid-column: col-start / span 12;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}