.backgroundImage {
  object-fit: cover;
  z-index: 0;
}

.main {
  z-index: 99;
  overflow: scroll;
  display: grid;
  grid-column: col-start / -1;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 10px;
  padding: 3em 0;
  background: url('/images/IMG_1713.jpeg') no-repeat center;
  background-size: cover;
}

.main > section {
  grid-column: 1 / -1;
}

.wrapper {
  z-index: 99;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 768px) {
  .main > section {
    grid-column: 2 / 12;
  }
}