.article {
    border: 1px solid var(--gray);
    padding: 1em 3em 3em 3em;
    color: var(--black);
    background-color: var(--white);
    box-shadow: 5px 5px 10px 0px var(--green);
}
  
.h2 {
    color: var(--pink);
    font-family: "Shrikhand", cursive;
    font-size: 2em;
    font-weight: 400;
    text-shadow: 2px 2px var(--black);
}
