@import url("https://fonts.googleapis.com/css?family=Fanwood+Text|Shrikhand|Josefin+Sans:wght@300;400;700&display=swap");

:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
  --pink: #edb1f1;
  --green: #8ef6e4;
  --blue: #9896f1;
  --purple: #d59bf6;
  --header-height: 120px;
} 

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: var(--black);
}

a {
  text-decoration: none;
  color: var(--white);
}