.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start], 1fr);
  grid-template-rows: auto 1fr auto;
  box-shadow: 1px 1px 5px 0px var(--gray);
}

.main {
  overflow: scroll;
}