.backgroundImage {
  object-fit: cover;
  z-index: 0;
}

.main {
  z-index: 99;
  overflow: scroll;
  display: grid;
  grid-column: col-start / -1;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 10px;
  padding: 20px;
}

.wrapper {
  z-index: 99;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}