.menuToggle {
  cursor: pointer;
  --s: 50px;
  width: var(--s);
  aspect-ratio: 1;
  padding: calc(var(--s) * 0.1);
  box-sizing: border-box;
  background: radial-gradient(closest-side at 12.5% 25%, #fff 96%, rgba(255, 255, 255, 0)) 0 0/80% 40%, linear-gradient(#fff 50%, rgba(255, 255, 255, 0) 0) top/80% 40% repeat-y;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.menuToggle:checked {
  background: radial-gradient(closest-side at 50% 12.5%, #fff 96%, rgba(0, 0, 0, 0)) top/20% 80% repeat-y, radial-gradient(closest-side at 12.5% 50%, #fff 96%, rgba(255, 255, 255, 0)) left/80% 20% repeat-x, conic-gradient(from 90deg at 33% 33%, rgba(255, 255, 255, 0) 90deg, #fff 0) 100% 100%/60% 60% padding-box content-box;
  transform: translateZ(0) rotate(45deg);
}

.menuToggle:checked ~ nav {
  max-height: calc(100% - var(--header-height));
}

@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }
}